<div class="container">
    <header>
        <h1>Dobrodošli u sistem restorana</h1>
        <div class="buttons">
            <button (click)="profil()">Profil</button>
            <button (click)="restoraniShow()">Restorani</button>
            <button (click)="rezervacije()">Rezervacije</button>
            <button (click)="dostavaHrane()">Dostava hrane</button>
        </div>
    </header>
    <section class="profile" *ngIf="flagProfil == true">
        <h2>Profil</h2>
        <div class="profile-info">
            <div class="profile-picture">
                <img [src]="fileDownloaded" alt="Downloaded Image">
                <input type="file" accept="image/*" (change)="onFileSelected($event)">
                <span style="color: red">{{errorMessage}}</span>
            </div>
            <div class="profile-details">
                <div class="input-field">
                    <label for="ime">Ime:</label>
                    <input type="text" id="ime" name="ime" [(ngModel)]="ime">
                </div>
                <div class="input-field">
                    <label for="prezime">Prezime:</label>
                    <input type="text" id="prezime" name="prezime" [(ngModel)]="prezime">
                </div>
                <div class="input-field">
                    <label for="adresa">Adresa:</label>
                    <input type="text" id="adresa" name="adresa" [(ngModel)]="adresa">
                </div>
                <div class="input-field">
                    <label for="email">E-mail adresa:</label>
                    <input type="email" id="email" name="email" [(ngModel)]="email">
                </div>
                <div class="input-field">
                    <label for="telefon">Kontakt telefon:</label>
                    <input type="tel" id="telefon" name="telefon" [(ngModel)]="telefon">
                </div>
                <div class="input-field">
                    <label for="kreditna-kartica">Broj kreditne kartice:</label>
                    <input type="text" id="kreditna-kartica" name="kreditna-kartica" [(ngModel)]="kreditnaKartica">
                </div>
                <div class="buttons">
                    <button (click)="updateProfile()">Ažuriraj profil</button>
                    <span style="color: green;">{{successMessage}}</span>
                </div>
            </div>
        </div>
    </section>
  <section *ngIf="flagRestoran == true" class="search">
    <h2>Pretraži restorane</h2>
    <input type="text" placeholder="Naziv" [(ngModel)]="searchNaziv">
    <input type="text" placeholder="Adresa" [(ngModel)]="searchAdresa">
    <input type="text" placeholder="Tip restorana" [(ngModel)]="searchTip">
    <button (click)="search()">Pretraži</button>
  </section>
  <section class="restaurant-list" *ngIf="flagRestoran == true">
    <h2>Lista restorana</h2>
    <table>
      <thead>
        <tr>
          <th (click)="sort('naziv')">Naziv</th>
          <th (click)="sort('adresa')">Adresa</th>
          <th (click)="sort('tip')">Tip restorana</th>
          <th (click)="sort('avgRating')">Prosečna ocena</th>
          <th>Konobari</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let restoran of filteredRestorani">
          <td><a (click)="pregledajRestoran(restoran.naziv)" class="plain-text-link">{{ restoran.naziv }}</a></td>
          <td>{{ restoran.adresa }}</td>
          <td>{{ restoran.tip }}</td>
          <td>
            {{ restoran.avgRating | number: '1.1-1' }}
            <span class="stars">
              <ng-container *ngFor="let star of getStars(restoran.avgRating)">
                &#9733;
              </ng-container>
            </span>
          </td>
          <td>
            <ul>
              <li *ngFor="let konobar of getKonobariForRestoran(restoran)">
                {{ konobar.name }} {{ konobar.surname }}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="restaurant-list" *ngIf="rezervacijeFlag == true">
    <h2>Lista aktuelnih rezervacija</h2>
    <table>
      <thead>
        <tr>
          <th>Restoran</th>
          <th>Datum</th>
          <th>Adresa</th>
          <th>Otkazi rezervaciju</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rezervacija of aktuelneRezervacije">
          <td>{{ rezervacija.restoran }}</td>
          <td>{{ formatDate(rezervacija.datum) }}</td>
          <td>{{ rezervacija.adresa }}</td>
          <td><button *ngIf="isOtkaziva(rezervacija.datum)" (click)="otkaziRezervaciju(rezervacija.id)">Otkazi rezervaciju</button></td>
        </tr>
      </tbody>
    </table>
  
    <h2>Lista arhiviranih rezervacija</h2>
    <table>
      <thead>
        <tr>
          <th>Restoran</th>
          <th>Datum</th>
          <th>Recenzija</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rezervacija of arhiviraneRezervacije">
          <td>{{ rezervacija.restoran }}</td>
          <td>{{ formatDate(rezervacija.datum) }}</td>
          <td>
            <span *ngIf="rezervacija.status == 'neostvarena'">Niste se pojavili u restoranu!</span>
            <span *ngIf="rezervacija.status == 'odbijena'">Rezervacija je odbijena. <strong>Komentar restorana:</strong> {{rezervacija.komentarKonobara}}</span>
            <span *ngIf="!(rezervacija.komentar == '' && rezervacija.ocena == 0) && rezervacija.status!='odbijena' && rezervacija.status!='neostvarena'">
              <strong>Komentar:</strong> {{ rezervacija.komentar }}
              <strong> Ocena:</strong> {{ rezervacija.ocena }} / 5
            </span>
            <button *ngIf="rezervacija.komentar == '' && rezervacija.ocena == 0 && rezervacija.status == 'ostvarena'" (click)="openReviewForm(rezervacija)">Ostavi recenziju</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="review-form" *ngIf="reviewFormId !== null">
      <h2>Ostavi recenziju</h2>
      <form (submit)="submitReview()">
        <label for="komentar">Slobodan komentar:</label><br>
        <textarea id="komentar" name="komentar" [(ngModel)]="noviKomentar" rows="4" cols="50"></textarea><br>
        <label for="ocena">Ocena:</label>
        <div class="stars">
          <span class="star" (click)="setRating(1)" [class.filled]="rating >= 1">&#9733;</span>
          <span class="star" (click)="setRating(2)" [class.filled]="rating >= 2">&#9733;</span>
          <span class="star" (click)="setRating(3)" [class.filled]="rating >= 3">&#9733;</span>
          <span class="star" (click)="setRating(4)" [class.filled]="rating >= 4">&#9733;</span>
          <span class="star" (click)="setRating(5)" [class.filled]="rating === 5">&#9733;</span>
        </div><br>
        <button type="submit">Potvrdi recenziju</button>
        <span *ngIf="success != ''" style="color: green;">{{success}}</span>
        <span *ngIf="fail != ''" style="color: red;">{{fail}}</span>
      </form>
    </div>
  </section>
  <section class="restaurant-list" *ngIf="dostavaHraneFlag == true">
    <h2>Lista aktuelnih narudzbina</h2>
    <table>
      <thead>
        <tr>
          <th>Restoran</th>
          <th>Status</th>
          <th>Procenjeno vreme dostave</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let narudzbina of aktuelneNarudzbine">
          <td>{{ narudzbina.restoran }}</td>
          <td><span *ngIf="narudzbina.status == 'naCekanju'">Na cekanju!</span><span *ngIf="narudzbina.status == 'odbijena'">Odbijena!</span> <span *ngIf="narudzbina.status == 'potvrdjena'">Potvrdjena!</span></td>
          <td *ngIf="narudzbina.minVremeDostave != 0">{{ narudzbina.minVremeDostave }} - {{ narudzbina.maxVremeDostave }}</td>
        </tr>
      </tbody>
    </table>
  
    <h2>Lista arhiviranih narudzbina</h2>
    <table>
      <thead>
        <tr>
          <th>Restoran</th>
          <th>Datum</th>
          <th>Iznos racuna</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let narudzbina of arhiviraneNarudzbine">
          <td>{{ narudzbina.restoran }}</td>
          <td>{{ formatDate(narudzbina.datum) }}</td>
          <td>
            {{ narudzbina.cena }}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>