<div class="container">
    <header>
        <h1>Dobrodošli u sistem restorana</h1>
        <div class="buttons">
            <button (click)="profil()">Profil</button>
            <button (click)="rezervacije()">Rezervacije</button>
            <button (click)="dostave()">Dostave</button>
            <button (click)="statistika()">Statistika</button>
        </div>
    </header>
    <section *ngIf="flagStatistika == true" class="statistics">
        <div class="chart-container">
            <h2 class="chart-title">Histogram Chart</h2>
            <canvas #histogram></canvas>
        </div>
    
        <div class="chart-container">
            <h2 class="chart-title">Column Chart</h2>
            <canvas #column></canvas>
        </div>
    
        <div class="chart-container">
            <h2 class="chart-title">Pie Chart</h2>
            <canvas #pie></canvas>
        </div>
    </section>
    <section class="profile" *ngIf="flagProfil == true">
        <h2>Profil</h2>
        <div class="profile-info">
            <div class="profile-picture">
                <img [src]="fileDownloaded" alt="Downloaded Image">
                <input type="file" accept="image/*" (change)="onFileSelected($event)">
                <span style="color: red">{{errorMessage}}</span>
            </div>
            <div class="profile-details">
                <div class="input-field">
                    <label for="ime">Ime:</label>
                    <input type="text" id="ime" name="ime" [(ngModel)]="ime">
                </div>
                <div class="input-field">
                    <label for="prezime">Prezime:</label>
                    <input type="text" id="prezime" name="prezime" [(ngModel)]="prezime">
                </div>
                <div class="input-field">
                    <label for="adresa">Adresa:</label>
                    <input type="text" id="adresa" name="adresa" [(ngModel)]="adresa">
                </div>
                <div class="input-field">
                    <label for="email">E-mail adresa:</label>
                    <input type="email" id="email" name="email" [(ngModel)]="email">
                </div>
                <div class="input-field">
                    <label for="telefon">Kontakt telefon:</label>
                    <input type="tel" id="telefon" name="telefon" [(ngModel)]="telefon">
                </div>
                <div class="buttons">
                    <button (click)="updateProfile()">Ažuriraj profil</button>
                    <span style="color: green;">{{successMessage}}</span>
                </div>
            </div>
        </div>
    </section>
    <section *ngIf="flagRezervacije == true" class="restaurant-list">
        <h2>Lista neobradjenih rezervacija</h2>
        <table>
            <thead>
                <tr>
                    <th>Gost</th>
                    <th>Datum</th>
                    <th>Sto</th>
                    <th>Broj gostiju</th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rezervacija of neobradjeneRezervacije">
                    <td>{{ rezervacija.gost }}</td>
                    <td>{{ formatDate(rezervacija.datum) }}</td>
                    <td>{{ rezervacija.sto }}</td>
                    <td>{{ rezervacija.brojGostiju }}</td>
                    <td class="buttonDisplay">
                        <button (click)="potvrdi(rezervacija.id)" *ngIf="odbijFlag == false">Potvrdi</button>
                        <button (click)="odbijFl()" *ngIf="odbijFlag == false">Odbij</button>
                        <section *ngIf="odbijFlag == true">
                            Komentar: <input type="text" [(ngModel)]="komentar">
                            <span style="color: red;">{{errorKomentar}}</span>
                            <button (click)="odbij(rezervacija.id)" *ngIf="odbijFlag == true">Odbij</button>
                        </section>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Lista rezervacija za potvrdu dolaska</h2>
        <table>
            <thead>
                <tr>
                    <th>Gost</th>
                    <th>Datum</th>
                    <th>Sto</th>
                    <th>Broj gostiju</th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rezervacija of rezervacijeZaPotvrdu">
                    <td>{{ rezervacija.gost }}</td>
                    <td>{{ formatDate(rezervacija.datum) }}</td>
                    <td>{{ rezervacija.sto }}</td>
                    <td>{{ rezervacija.brojGostiju }}</td>
                    <td class="buttonDisplay">
                        <button (click)="potvrdiDolazak(rezervacija.id)">Potvrdi dolazak</button>
                        <button (click)="odbijDolazak(rezervacija.id)">Potvrdi nedolazak</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section *ngIf="flagNarudzbine == true" class="restaurant-list">
        <h2>Lista neobradjenih narudzbina</h2>
        <table>
            <thead>
                <tr>
                    <th>Gost</th>
                    <th>Datum</th>
                    <th>Sastav narudzbine</th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let narudzbina of narudzbine">
                    <td>{{ narudzbina.gost }}</td>
                    <td>{{ formatDate(narudzbina.datum) }}</td>
                    <td>
                        <ul>
                            <li *ngFor="let deo of narudzbina.deoNarudzbine">
                                <strong>Jelo: </strong> {{deo.jeloObjekat.naziv}}. <strong>Kolicina: </strong> {{ deo.kolicina }}
                            </li>
                        </ul>
                    </td>
                    <td class="buttonDisplay">
                        <button (click)="prikaziCheckBox()" *ngIf="checkBoxFlag == false">Potvrdi</button>
                        <section *ngIf="checkBoxFlag == true">
                            Procenjeno vreme dostave: <select [(ngModel)]="minvreme">
                                <option [value]="20">20-30 minuta</option>
                                <option [value]="30">30-40 minuta</option>
                                <option [value]="50">50-60 minuta</option>
                            </select>
                            <button (click)="potvrdiNarudzbinu(narudzbina.id)">Potvrdi</button>
                            <span style="color: red;">{{errorVreme}}</span>
                        </section>
                        <button (click)="odbijNarudzbinu(narudzbina.id)" *ngIf="checkBoxFlag == false">Odbij</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
